html {
	box-sizing: border-box;
    font-family: sans-serif;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

h1 {
    margin: 0;
    margin-bottom: 30px;
}

h3 {
    margin: 0;
    margin-bottom: 15px;
}

h4 {
    margin: 0;
}

a {
	color: #008CF0;
	text-decoration: none;
}

a:hover {
    color: #c00;
}

button {
    padding: 10px 20px;
    background-color: white;
    border: 1px solid #888888;
    border-radius: 4px;
}

input, textarea {
    font-family: inherit;
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
}

.wrap {
    margin: 0 auto;
    max-width: 1500px;
    font-size: 16px;
    padding-left: 50px;
    padding-right: 50px;
}

.header__wrap {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding-top: 20px;
    width: 100%;
    
}

.header__logo-title {
    padding-top: 15px;
}

.header__logo {
    display: flex;
    align-items: center;
}

/* .logo2 {
    position: absolute;
    width: 263px;
    height: 53px;
    left: -3px;
    top: 18px;
} */

.header__cart {
    display: flex;
    position: absolute;
    top: 30px;
    left: calc(100% - 100px);
    justify-content: flex-end;
    width: 50px;
    height: 50px;
    cursor: pointer
    
}

.header__cart svg {
    position: absolute;
    top: 0;
    right: 0;
    width: 41px; 
    height: 39px;
}

.header__hart-count {
    display: flex;
    background-color: #F36223;
    position: absolute;
    color: #FFFFFF;
    border: 1px solid #ffffff;
    height: 18px;
    font-size: 13px;
    line-height: 17px;
    padding: 5px;
    top: -5px;
    border-radius: 8px;
    align-items: center;
    right: -10px;
    z-index: 1;
}

.header__hart svg {
    position: absolute;
    top: 0;
    right: 0;
}
.header__hart {
    display: flex;
    position: absolute;
    top: 30px;
    left: calc(100% - 170px);
    justify-content: flex-end;
    width: 50px;
    height: 50px;
    cursor: pointer
    
}

.header__hart svg {
    width: 43px; 
    height: 34px;
}

.header__cart-count {
    display: flex;
    background-color: #F36223;
    position: absolute;
    color: #FFFFFF;
    border: 1px solid #ffffff;
    height: 18px;
    font-size: 13px;
    line-height: 17px;
    padding: 5px;
    top: -5px;
    border-radius: 8px;
    align-items: center;
    right: -10px;
    z-index: 1;
}

.header {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 1;
    background-color: rgba(255,255,255, 0.9);
}

.breadcrumbs {
    display: flex;
    gap: 4px;
    margin-top: 98px;
    margin-bottom: 8px;
}

.breadcrumbs a:hover {
    color: #F36223;
}

.basic__chartov {
    width: 417px;
    height: 198px;
}

.chartov__char {
    margin: 0;
    padding-left: 16px;
}

.chartov__char li::marker {
    width: 10px;
    height: 10px;
    color: #888888;
}

.chartov__char-list:not(:last-child) {
    margin-bottom: 10px;
}

p {
    margin-top: 0;
    margin-bottom: 16px;
}

.response__photo {
    width: 140px;
    height: 140px;
    flex-shrink: 0;
    
    /* background-image: url(../img/pa1.png);
    background-position: center;
    border-radius: 100px;
    width: 140px;
    height: 140px; */
    
}


.sidebar__rec {
    width: 420px;
    height: 645px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    float: right;
    gap: 15px;
}

.sidebar__banner {
    width: 420px;
    height: 300px;
    background: #F0F0F0;
    border: 1px dashed #888888;
    overflow-x: hidden; 
}

.sidebar__text {
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #888888;
}

.feedbacks__reviews {
    display: inline-block;
}

.feedbacks__quantity {
    color: #888888;
}

.sidebar__discount {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    float: right;
    padding: 20px;
    gap: 15px;
    max-width: 420px;
    
}

.discount {
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

/* .discount_header::before {
    content: "";
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url(../img/hart.svg);
    background-repeat: no-repeat;
    background-position: right top;
} */

.discount__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
    width: 100%;
    /* background-image: url(../img/hart.svg);
    background-repeat: no-repeat;
    background-position: right top; */
}

.discount__heart {
    display: flex;
    justify-content: flex-end;

}

.hart label svg {
    cursor: pointer;
}

/* .hart {
    position: absolute;
    right: 0;
    top: 3px;
    width: 26px;
}

.hart label svg {
    cursor: pointer;
}*/

.discount__heart-ico {
    position: absolute;
    opacity: 0;
    z-index: -1;
    inset: 0;
} 

.discount__heart input:hover+label svg path {
    fill: #F36223;
}

.hardiscount__heart input:active+label svg path {
    fill: #a93a09;
}

.discount__heart input:checked+label svg path {
    fill: #a93a09;
}
.discount p {
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    }

.discount h2 {
    margin: 0;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
}

.discount__basket {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 15px;
    width: 100%;
    height: 64px;
    background: #F36223;
    border-radius: 4px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    cursor: pointer;
    }

.discount__basket::before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url(../img/cart.svg);
    background-repeat: no-repeat;
}

.discount__basket:hover {
    background: #DA4A0C;
    border-radius: 4px;
}

.discount__price {
    display: flex;
    flex-direction: column;
    gap: 10px;
    line-height: 16px;
}

.discount__initial-price {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 123px;
    height: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: #888888;
    background-image: url(../img/Скидка.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}

/* .initial_price1::before {
    content: "";
    display: inline-block;
    width: 47px;
    height: 24px;
    background-image: url(../img/Скидка.png);
    background-repeat: no-repeat;
    background-position: right;
} */

.basic {
    display: flex;
    width: 1400px;
    left: 51px;
    padding: 0px;
    gap: 100px;
    
}

.tel {
    display: flex;
    flex-wrap: nowrap;
    max-width: 1400px;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

.tel img {
    height: 382px;
}


/*.tel img {
    margin-right: 10px;
}*/



/* .description {
    width: 880px;
} */

.basic__description p:first-child {
    margin-top: 0;
}


.features__colour-list {
    display: flex;
    flex-direction: row;
    padding: 0px;
    gap: 10px;
}


/* .colour1 {
    width: 80px;
    height: 80px;
    justify-content: center;
    align-items: center;
    border: 1px solid #888888;
    border-radius: 4px;
    background-image: url(../img/color-1.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30.93px 60px;

} */

.features__colour-item {
    width: 80px;
    height: 80px;
    justify-content: center;
    align-items: center;
    border: 1px solid #888888;
    border-radius: 4px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30.93px 60px;
}

.features__colour-item--red {
    background-image: url(../img/color-1.webp);
}

.features__colour-item--green {
    background-image: url(../img/color-2.webp);
}

.features__colour-item--pink {
    background-image: url(../img/color-3.webp);
}

.features__colour-item--blue {
    background-image: url(../img/color-4.webp);
}

.features__colour-item--white {
    background-image: url(../img/color-5.webp);
}

.features__colour-item--black {
    background-image: url(../img/color-6.webp);
}

.features__btn-c:hover {
    background-color: #F2F2F2;
    border: 1px solid #888888;
    border-radius: 4px;
}

.features__btn-c:focus {
    border: 2px solid #F36223;
    border-radius: 4px;
}

.features__btn-c {
    cursor: pointer
}

/* .colour2 {
    width: 80px;
    height: 80px;
    justify-content: center;
    align-items: center;
    border: 1px solid #888888;
    border-radius: 4px;
    background-image: url(../img/color-2.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30.93px 60px;
    
}

.colour3 {
    width: 80px;
    height: 80px;
    justify-content: center;
    align-items: center;
    border: 1px solid #888888;
    border-radius: 4px;
    background-image: url(../img/color-3.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30.93px 60px;
    

}


.colour4 {
    width: 80px;
    height: 80px;
    justify-content: center;
    align-items: center;
    border: 1px solid #888888;
    border-radius: 4px;
    background-image: url(../img/color-4.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30.93px 60px;
    

}

.colour5 {
    width: 80px;
    height: 80px;
    justify-content: center;
    align-items: center;
    border: 1px solid #888888;
    border-radius: 4px;
    background-image: url(../img/color-5.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30.93px 60px;
    

}

.colour6 {
    width: 80px;
    height: 80px;
    justify-content: center;
    align-items: center;
    border: 1px solid #888888;
    border-radius: 4px;
    background-image: url(../img/color-6.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30.93px 60px;
    

} */

.basic__sidebar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 420px;
    max-height: 957px;
    padding: 0px;
    margin-top: 30px;
    gap: 40px;
}

.basic__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 880px;
    margin-top: 30px;
    padding: 0px;
    gap: 30px;
}

.basic__feedbacks {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* width: 880px; */
    margin-top: 30px;
    padding: 0px;
    gap: 25px;
}

.feedbacks__title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 10px;
    width: 100%;
    /* height: 39px; */
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
}

.feedbacks__title-text {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
    /* width: 155px;
    height: 29px; */
}

.title_btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    /* align-items: center; */
    padding: 10px 20px;
    /* gap: 10px; */
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    border: 1px solid #888888;
    border-radius: 4px;
}

.feedbacks__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
}

.feedbacks__response {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 30px;
}

.response__text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
}

.response__text p {
    margin: 0;
}


.basic__separator {
    width: 100%;
    border-top: 1px solid #888888;
}

.response__rating-star {
    margin-top: 10px;
    margin-bottom: 30px;
}



.comparison__tabl {
    border: 1px solid #888888;
    border-collapse: collapse;
}

.comparison__tabl th {
    padding: 10px;
    border-bottom: 1px solid #888888;
    
}

.comparison__tabl th:not(:last-child) {
    border-right: 1px solid #888888;
}

.comparison__tabl td {
    padding: 10px;
    text-align: start;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.comparison__tabl td:not(:last-child) {
    border-right: 1px solid #888888;
}

.comparison__tabl-content tr:hover {
    background: #F2F2F2;
    cursor: pointer;
}

.footer__basement {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 50px;
    width: 100%;
    
}

.basement__info {
    max-width: 558px;
    max-height: 51px;
    font-style: normal;
    font-size: 14px;
    line-height: 17px;
}

.basement__btn {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    cursor: pointer;
}

.footer {
    width: 100%;
    background-color: #f2f2f2;
}

.basic__bloc-forms {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 0px 0px 170px;
    gap: 15px;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 100px;
    
}

.forms__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 30px;
    width: 100%;
    color: #888888;
}

.forms__row-name {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 40px;
}

.forms__row-text {
    width: 100%;
}

.forms__title {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}

.forms__name {
    padding: 15px 20px;
    width: 100%;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

.forms__estimation.error,
.forms__name.error {
    border: 1px solid #DA4A0C;
}

.forms__estimation {
    padding: 15px 20px;
    min-width: 175px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

.forms__text {
    width: 100%;
    padding-top: 15px;
    padding-left: 20px;
    resize: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;

}

.forms__row-btn {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
    cursor: pointer;
}

.forms__btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 10px 20px;
    gap: 10px;
    background: #F36223;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    cursor: pointer;
}

.forms__error-name {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.forms__name-error,
.forms__estimation-error {
    opacity: 0;
}

.forms__error-estimation {
    display: flex;
    flex-direction: column;
    min-width: 175px;
}

.forms__estimation-error.error,
.forms__name-error.error {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 20px;
    gap: 10px;
    background: #DA4A0C;;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
    opacity: 1;
}



@media (max-width: 1499px) {
    .wrap {
        padding: 0 15px;
        max-width: 1024px;
    }


    .tel img {
        height: 272px;
    }

    .basic {
        max-width: 1024px;
        gap: 40px;
    }

    .comparison {
        display: none;
    }

    .response__photo {
        width: 100px;
        height: 100px;
    }
    
    .response__rating-star {
        width: 100px;
        height: 20px;
    }

    .basic__content {
        max-width: 594px;
    }

    .basic__sidebar {
        max-width: 360px;
    }

    .sidebar__rec {
        width: 360px;
    }

    .sidebar__banner {
        width: 360px;
    }

    .basic__bloc-forms {
        padding: 0;
    }

    .header__cart {
        left: calc(100% - 70px);
    }

    .header__hart {
        left: calc(100% - 140px);
    }
}
